body{
     background-color:rgb(184, 169, 35);
}
p:hover {
    background-color:rgb(17, 70, 155);
}
h1{
    color :rgba(51, 78, 65, 0.998);
}
h4{
   color:rgb(14, 2, 17);}
h3{
    color:rgb(189, 117, 8);}
h3{
    font-size:20px;}
p{
   color:rgb(124, 39, 89);}
.Daly{
    font-size: medium;
   }
   div{
    color:blueviolet;
   }
span{
    color:rgb(102, 106, 109);}
    span:hover{
        color:aqua;
    }
    table{
        border-style: solid;
    }
   
          table, th, td {

            border: 1px solid;
    
          }
    
    table.center {
    
            margin-left: auto;
    
            margin-right: auto;
    
          }
          .changes{

            background-color: lightgrey;
    
            width: 400px;
    
            border: 15px solid green;
    
            padding: 50px;
    
            margin: 10px;
    
    }
   .chorus{
    color:darkgoldenrod;
   }
h3{
     font-style: italic;}
h4{
    font-style: oblique;}
    h2{
        text-shadow: 2px 3px 5px blue;
    }
    h2:hover{
        color:aquamarine;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:brown;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:coral;
      }